mixin list(...items)
    ul
        each item in items
            li= item
mixin listCheckbox(startWith, [...items])
    ul
        each item, index in items
            .checkbox_list
                input(id=startWith+index type="checkbox")
                label(for=startWith+index) 
                    li= item
mixin listDots(...items)
    ul 
        each item in items
            .list_label
                .dot_color
                il= item 
mixin colorList(...items) 
    each item in items 
        .color_sample(class=item[0])
        .color_description 
            h2=item[1]
            h2=item[2]